assets/changelog.sum
assets/schedule.json
assets/spec_bans.json
assets/*_adjacencies.txt
assets/community/
*.pyc
*.iml
*.xml
.DS_Store

.idea
__pycache__
*.py[cod]
*.svg
!variants/**/*.svg
*.sqlite
*.out.sql
*.zip
pyproject.toml

test.py
gamelist.tsv

.vscode
.env
venv

*.pclprof

logs/*
config.toml
