[Unit]
Description=DiploGM Discord Bot
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
WorkingDirectory=/opt/DiplomacyGM
Environment=PYTHONPATH=/opt/DiplomacyGM/src
ExecStart=/opt/DiplomacyGM/botvm/bin/python3 -m DiploGM.main
SyslogIdentifier=%n
Restart=always
RestartSec=5