[Unit]
Description=DiploGM Discord Bot
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
WorkingDirectory=/opt/DiplomacyGM
ExecStart=/opt/DiplomacyGM/botvm/bin/python3 /opt/DiplomacyGM/main.py
SyslogIdentifier=%n
Restart=always
RestartSec=5